@charset "UTF-8"; /* #3f51b5 #00bcd4 */
/* class
구조 a-a > a__a > a__a_a
상태 a--on
새타입 a-type
background: rgb(63,81,181);
background: linear-gradient(45deg, rgba(63,81,181,1) 0%, rgba(0,188,212,1) 100%);
*/
.blind {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 100px;
    white-space: nowrap;
}

.point-color {
    color: #3f51b5;
}
.point-color__2 {
    color: #00bcd4;
}
/* header */
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}
.header h1 {
    flex: 1;
    font-size: 1.8rem;
    line-height: 5rem;
}

/* footer */
.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
}
.footer .button-wrap {
    margin:24px 19px 0;
    padding-bottom: calc(24px + constant(safe-area-inset-bottom));
    padding-bottom: calc(24px + env(safe-area-inset-bottom));
}
.footer > .button-wrap .button {
    margin: 0 5px;
}

.footer .util-item-wrap {
    display: flex;
    border-top: 1px solid #ddd;
}
.footer .util-item-wrap .util__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.footer .util-item-wrap .util__item .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    opacity: 0.6;
}
.footer .util-item-wrap .util__item .item.active {
    opacity: 1;
}
.footer .util-item-wrap .util__item .item span {
    padding: 5px 0 0;
    line-height: 1;
    font-size: 1rem;
    color: #666;
}
.footer .util-item-wrap .util__item .item svg {
    display: inline-block;
    width: 21px;
    height: 24px;
}
.footer .util-item-wrap .util__item .item.my svg {
    width: 23px;
}


.top-wrap {
    display: flex;
}
.top-wrap .logo-wrap {
    width: 32px;
}
.top-wrap .search-wrap {
    flex: 1;
}
.search-wrap .button.button--search {

}
/* content */
.content {
    min-height: 100%;
    padding: 50px 0 calc(90px + constant(safe-area-inset-bottom));
    padding: 50px 0 calc(90px + env(safe-area-inset-bottom));
}

/* button */
.button-wrap {
    display: flex;
    justify-content: space-between;
    margin:24px 0;
}
.button-wrap.link-type {
    display: flex;
    justify-content: flex-end;
    margin:10px 0;
}
.button {
    display: inline-block;
    padding: 6px;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #333;
}
.button.button--primary {
    font-size: 1.2rem;
    line-height: 1;
    border: 1px solid #333;
    border-radius: 4px;
}
strong + .button-text {
    margin-left: 4px;
}
.button-text {
    display: inline-block;
}
.button-text:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(63 81 181)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: -1px;
}
.button-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.button-icon span {
    font-size: 0;
}
.button-icon:after {
    content: '';
    display: inline-block;
    width: 18px;
    height:18px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.button-icon + .button-icon {
    margin-left: 8px;
}
.button-icon.button--back:after {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(51 51 51)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' clip-rule='evenodd'/></svg>");
}
.button-icon.button--notice.new::before {
    content: '';
    position: absolute;
    top: 1.1rem;
    right: 0.9rem;
    width: 5px;
    height: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #ed1651;
    box-sizing: content-box;
}
.button-icon.button--notice:after {
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(51 51 51)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z' clip-rule='evenodd'/></svg>");
}
.button-icon.button--close:after {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(51 51 51)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z' clip-rule='evenodd'/></svg>");
}
.button-icon[class*=button--login-] {
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 0.35);
    background: #fff no-repeat center 50% / 30px auto;
}
.button-icon[class*=button--login-]::after {
    content: none;
}
.button-icon.button--login-google {
    background-image: url(@/assets/images/icon-google-480.png);
}
.button-icon.button--login-kakao {
    background-image: url(@/assets/images/icon-kakao-480.png);
}
    /* block button */
.button-wrap .button {
    flex: 1;
    height: 40px;
    padding: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fff;
    background: #9ca7b3;
    border-radius: 6px;
    text-align: center;
}
.button-wrap .button.button--cancle {
    flex: 0 1 30%;
}
.button-wrap .button.button--positive {
    background: #3f51b5;
}
.button-wrap .button.button--disabled {
    background: #ced3d9;
}

/* title */
[class^=title] {
    font-size: 1.6rem;
}
.title--small {
    margin-bottom: 0.6rem;;
    font-size: 1.4rem;
}
[class^=title].center {
    text-align: center;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.modal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .35);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    min-width: 60%;
    max-width: 80%;
    border-radius: 8px;
    background: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 0.2);
}
.modal-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .modal-title {
    flex: 1;
    padding: 0 0 0 15px;
    font-size: 1.4rem;
}
.modal-header .button-util-icon {
    padding: 10px;
}
.modal-body {
    overflow-y: auto;
    max-height: 350px;
    margin: 20px 0;
    padding: 0 15px;
}
.modal-footer .button-wrap {
    margin: 0 12px 15px;
}
.modal-footer .button-wrap .button {
    margin: 0 3px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
}
.modal-footer .button-wrap .button.button--cancle {
    flex: 1;
}

/* top-box */
[class*=top-box] {
    position: relative;
    margin: 2.4rem 1.5rem;
    border-radius: 0;
}
.top-box [class*=page-header] {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.top-box [class*=page-header] > span {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    line-height: 1.25;
}
[class*=top-box] .page-header + .page-guide {
    margin: 1.8rem 0 0;
}
[class*=top-box] .page-guide {
    margin: 0 0.9rem 2rem;
    line-height: 1.2;
}
.page-guide .tit-default span {
    font-size: 1.6rem;
    font-weight: 500;
}
.page-guide .txt-default {
    font-size: 1.4rem;
    color: #666;
}
.page-guide .txt-default strong {
    font-weight: 500;
    color: #3f51b5;
}
.page-guide .tit-default + .txt-default {
    margin: 0.4rem 0 0;
}

/* container */
.container {
    width: auto;
    margin: 2.4rem 2.4rem 0;
}

/* input */
.input-wrap {
    position: relative;
    margin-top: 1.4rem;
}
.input-wrap [class*=input__title] {
    color: #666;
    font-weight: 500;
    font-size: 1.4rem;
}
.input-wrap [class*=input__title] > span {
    font-size: 1.2rem;
}
.input-wrap .input__wrap {
    display: flex;
}
.input-wrap .input__wrap + .input__wrap {
    margin-top: 0.4rem !important;
}
.input-wrap [class*=input__title] ~ .input__wrap.underline-type {
    margin: 0;
}
.input-wrap .input__wrap > .button {
    flex: 1 0 auto;
    margin-left: 8px;
}
    /* 필수입력 */
.input-wrap[aria-label='required'] > [class*=input__title]:after {
content: '*';
display: inline;
padding-left: 2px;
color: #ed1651;
}
.input__item {
    position: relative;
    width: 100%;
}
.input__wrap.underline-type .input__item:before {
    content: none;
}
.input__wrap.underline-type .input__item_inner {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333;
}
.input__wrap.underline-type .input__item + .input__item {
    position: relative;
    margin: 0 0 0 1.4rem;
}
.input__wrap.underline-type .input__item + .input:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -1.4rem;
    top: 50%;
    width: 0.4rem;
    height: 0.1rem;
    margin: 0 0.4rem;
    background: #000;
}
    /* input 포커스 */
.input__wrap.underline-type .input__item.input--focus .input__item_inner {
    border-color: #00bcd4;
}
.input__wrap.underline-type .input__item + .input__item:before {
    border: none;
    box-shadow: none;
}
    /* email type input */
.input__wrap.underline-type.email-type .input__item + .input__item {
    margin: 0 0 0 2rem;
}
.input__wrap.underline-type.email-type .input__item + .input__item:before {
    content: '@';
    display: inline-block;
    position: absolute;
    left: -2rem;
    top: 0;
    width: auto;
    height: auto;
    margin: 0 0.4rem;
    padding: 0.4rem 0 0.3rem;
    background: transparent;
    font-size: 1.4rem;
}
    /* input info text */
.input-wrap .input__error {
    font-size: 1.2rem;
    color: #ed1651;
}
.input-wrap .input__text {
    font-size: 1.2rem;
    color: #666;
}
/*  */
.input__wrap.underline-type .input__element,
.input__wrap.underline-type .select__item {
    width: 100%;
    height: auto;
    min-height: 31px;
    margin-top: 0;
    padding: 0.4rem 0 0;
    color: #333;
    line-height: 1.5rem;
    font-size: 1.4rem;
    white-space: nowrap;
	border: none;
	background: transparent;
}
/* .input__wrap.underline-type .input__element::placeholder {
    color: transparent;
}
.input__wrap.underline-type .input__element:disabled {
    color: #666;
}
.input__wrap.underline-type .input__element:readonly {
    color: #666;
}
.input__wrap.underline-type .input__element.disabled,
.input__wrap.underline-type .select__item.disabled {
    color: #666;
} */

.filepreview-type .input__item_inner {
    display: flex;
    align-items: center;
    min-height: 50px;
}
.filepreview-type .input__file .button > span {
    padding-left: 4px;
    vertical-align: 4px;
}
.filepreview-type .input__file input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.filepreview-type .file-display {
    margin-left: 15px;
}
.filepreview-type .file-display img {
    width: 32px;
    height: 32px;
    box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 0.35);
    border-radius: 50%;
    vertical-align: top;
    object-fit: cover;
}
.filepreview-type .file-display .button--del {
    display: none;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 0;
}
.filepreview-type .file-display .button--del:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='rgb(51 51 51)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 100%;
}
.filepreview-type .file-display img + .button--del {
    display: inline-block;
}

.login-group {
    display: flex;
    justify-content: center;
}